<h2 class="card-title mb-2">Частые вопросы</h2>
<div class="accordion" id="accordion">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-trade-in" aria-expanded="true" aria-controls="accordion-trade-in">
                <h5 class="card-subtitle mb-2 text-body-secondary">Как купить новый iPhone по программе Trade-In ?</h5>
            </button>
        </h2>
        <div id="accordion-trade-in" class="accordion-collapse collapse" data-bs-parent="#accordion">
            <div class="accordion-body">
                <ul>
                    <li>
                        Принеси свой старый айфон в наш сервис
                    </li>
                    <li>
                        Оставь свой гаджет на диагностику (оценку) и узнай размер выплаты
                    </li>
                    <li>
                        Используй выплату за свой старый гаджет, чтобы оплатить часть стоимости нового iPhone
                    </li>
                    <li>
                        Доплати любым удобным способом: наличными, пластиковой картой или в размер первоначального взноса на кредит
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>