<div class="container-fluid p-0 my-carousel">
    <partial name="_Carousel" />
</div>
<div class="container">
    <section id="about-us">
        <partial name="_AboutUs" />
    </section>
    <section id="services">
        <partial name="_Services" />
    </section>
    <section id="trade-in">
        <partial name="_TradeIn" />
    </section>
    <section id="discounts">
        <partial name="_Discounts" />
    </section>
    <section id="questions">
        <partial name="_Questions" />
    </section>
    <section id="contacts">
        <partial name="_Contacts" />
    </section>
</div>
