@page

<div class="text-center">
    <h2>Спасибо за заказ, @User.Identity?.Name!</h2>
    <p>Номер заказа: #@OrderId</p>
    <p>Мы свяжемся с вами как можно скорее.</p>
    <a class="btn btn-primary" asp-controller="Home">Вернуться на сайт</a>
</div>

@functions {
    [BindProperty(SupportsGet = true)]
    public string? OrderId { get; set; }
}